<div class="w3-row">

    <!-- Articles du blog -->
    <div class="w3-col l8 s12">
      
      <!-- Un article -->
      <div class="titreArticle w3-card-2">
        <img src="./../../degrade.jpg" alt="fond" style="width:100%">
        <div class="w3-container">
          <h3 style="font-size: 32px;"><b>ARTICLE 1</b></h3>
          <h5>Description, <span class="dateArticle">31 Mai 2020</span></h5>
        </div>

        <div class="w3-container">
          <p>Bla bla bla</p>
          <div>
            <div class="w3-col m8 s12">
              <p><button class="w3-button w3-padding-large w3-white w3-border"><b>Lire l'article »</b></button></p>
            </div>
          </div>
        </div>
      </div>
      <hr>

      <!-- Un article -->
      <div class="w3-card-4 w3-margin w3-white">
        <div class="w3-container">
          <h3 style="font-size: 32px;"><b>ARTICLE 2</b></h3>
          <h5>Description, <span class="dateArticle">31 Mai 2020</span></h5>
        </div>

        <div class="w3-container">
          <p>Bla bla bla</p>
          <div class="w3-row">
            <div class="w3-col m8 s12">
              <p><button class="w3-button w3-padding-large w3-white w3-border"><b>Lire l'article »</b></button></p>
            </div>
          </div>  
        </div>
      </div>
      <hr>

    </div>


    <!-- Articles récents -->
    <div class="w3-col l4">
      
      <div class="w3-card w3-margin">
        <div class="w3-container w3-padding">
          <h4>Articles les plus récents</h4>
        </div>
        <ul class="w3-ul w3-hoverable w3-white">
          <li class="w3-padding-16">
            <span class="w3-large">Article X</span><br>
            <span>Bla bla</span>
          </li>
          <li class="w3-padding-16">
            <span class="w3-large">Article X</span><br>
            <span>Bla bla</span>
          </li> 
          <li class="w3-padding-16">
            <span class="w3-large">Article X</span><br>
            <span>Bla bla</span>
          </li>   
          <li class="w3-padding-16 w3-hide-medium w3-hide-small">
            <span class="w3-large">Article X</span><br>
            <span>Bla bla</span>
          </li>  
        </ul>
      </div>
      <hr> 

    </div>

  </div><br>